@import 'Colors';

.sidebar {
    height: 60vh;
    width: 16em;
    left: -17em;
    position: fixed;
    top: 1em;
    z-index: 1000;
    transition: all 0.4s;
    background-color: white;
    border: 2px solid lightgray;
    text-align: center;
    overflow: scroll;
    .sidebar-title {
        margin-bottom: 1em;
        color: $bluegreen;
    }

    a {
        text-decoration: none;
        margin-bottom: 2em;
        margin-left: 0;
        padding: .4em 1em;
        // box-shadow: 1px 2px 2px $shadow;
        color: #000;
        transition: all 0.4s;
        border-radius: 2px;
        border-bottom:2px solid $bluegreen;

    } 
    .xMark {
        cursor: pointer;
        margin-left: 85%;
        font-size: 16pt;
    }
}

.xMark {
    cursor: pointer;
    margin-left: 10%;
    font-size: 12em;
    color:  $bluegreen;
}
.open {
    font-size: 10pt;
    transform: translateX(16em);
    transition: all 0.5s;
}


.hamburger-icon{
    z-index: 2000;
    width: 5em;
    height: 1em;
    position: fixed;
    top: 1em;
    margin: 1em 0 0 3em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.bye {
    display: none;
}


.hamburger-icon-invisible{
    position: absolute;
    left: -18em;
}

.line {
  display: block;
  position: absolute;
  height: .3em;
  width: 2em;
  background: white;
  border-radius: 1em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-icon div:nth-child(1) {
    top: 0em;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

.hamburger-icon div:nth-child(2) {
    top: .5em;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .hamburger-icon div:nth-child(3) {
    top: 1em;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
